.header {
  background-color: #FFFFFF;
}
.header-nav__list {
  min-height: 88px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  position: relative;
}
.menu__item_main-repair {
  display: none;
}
.menu__item_main-checkstatus {
  display: none;
}
.menu__link_border::after {
  content: "";
  position: absolute;
  right: -22px;
  top: 15px;
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
}
.menu__icon_call {
  display: none;
}
.menu__icon_chat {
  display: none;
}
.menu__icon_profile {
  display: none;
}
.menu__icon_sidebar {
  position: relative;
  top: 3px;
  left: -25px;
}

@media (min-width: 768px) {
  .menu {
    gap: 16px;
  }
  .menu__item_logo {
    flex-grow: 1;
    margin-left: 25px;
  }
  .menu__link_border::after {
    top: 12px;
    left: -21px;
  }
  .menu__icon_call {
    display: block;
  }
  .menu__icon_chat {
    display: block;
  }
  .menu__icon_profile {
    display: block;
    margin-right: 26px;
  }
  .menu__item_profile::before {
    content: "";
    position: absolute;
    right: 4px;
    top: 6px;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .menu__item {
    position: relative;
  }
  .menu__item_main-repair {
    display: block;
  }
  .menu__item_main-checkstatus {
    display: block;
  }
}
