.image-slider__slide {
  width: 240px !important;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}
.image-slider__slide_view {
  margin-left: 16px;
}
.image-slider__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-slider__link_view {
  min-height: 70px;
  padding: 0 16px;
}
.image-slider .swiper-pagination-bullet {
  position: relative;
  top: 23px;
  left: 4px;
  width: 12px;
  height: 12px;
  font-size: 14px;
  background-color: #DDDDDD;
  z-index: 5;
}
.image-slider .swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}
.image-slider .swiper-pagination-horizontal {
  position: relative;
  top: 12;
  height: 35px;
}

@media (min-width: 768px) {
  .image-slider__wrapper {
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    min-width: 720px;
    padding: 0 24px;
  }
  .image-slider__slide {
    width: 224px !important;
  }
  .image-slider__slide_view {
    margin-left: 0;
  }
  .image-slider__slide_hide {
    display: none;
  }
  .image-slider__slide_show {
    display: block;
  }

  .wrapper_bottom {
    margin-bottom: 25px;
  }
}
@media (min-width: 1120px) {
  .image-slider__wrapper {
    column-gap: 32px;
    min-width: 720px;
    padding: 0 32px;
  }
  .image-slider__slide {
    width: 240px !important;
  }
  .image-slider__slide_view:nth-child(7) {
    display: block;
  }
  .image-slider__slide_view:nth-child(8) {
    display: block;
  }
}
