$dark-pink: #FF3E79;
$dark-black: #1B1C21;
$bg-gray: #F8F8F8;
$gray: #7E7E82;
$dark-gray: #B5B6BC;
$light-gray: #DDDDDD;
$light-gray2: #EAEAEA;
$light-green: #41F6D7;
$green-active: #B8FFEC;
$white: #FFFFFF;
$shadow1: rgba(69, 79, 126, 0.02);
$shadow2: rgba(14, 24, 80, 0.2);

//fonts
$tt-lakes-regular: "TT Lakes Regular",
sans-serif;
$tt-lakes-medium: "TT Lakes Medium",
sans-serif;
$tt-lakes-condensed-medium: "TT Lakes Condensed-Medium",
sans-serif;
$tt-lakes-bold: "TT Lakes Bold",
sans-serif;

//viewports
$tablet-width: 768px;
$desktop-width: 1120px;